img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.hd-box {
    width: 100%;
    height: 100px;
}

.hd-box div {
    float: left;
}

.hd-box .hd-teacher a img {
    width: 70px;
    height: 80px;
}

.hd-box {}

.article {
    text-indent: 28px;
    line-height: 25px;
    letter-spacing: 2px;
}

.post-content {
    margin-top: 40px;
    margin-left: 10px;
}
body {
    font-family: "微软雅黑" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "微软雅黑" !important;
}

.header-style-4 .menu .alterna-nav-menu > li.current-menu-item > a,
.header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor > a {
    color: #f6c206;
}

#menu-menu li a:hover {
    color: #3b3b3b !important;
}

.header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor>ul:hover .header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor>a {
    color: #3b3b3b !important;
    //background:#000;
}

h1,
.h1 {
    font-size: 26px;
}

h2,
.h2 {
    font-size: 26px;
}

#main {
    width: 1000px;
}

.content-wrap {
    padding-left: 70px;
    padding-right: 70px;
}
/** daohanglan
*/

#alterna-header {
    background-color: #818181;
}

#alterna-header a {
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.#menu-menu {
    //  margin-left:-450px;
}

#menu-menu {
    // margin-right:100px;
    width: 800px;
    overflow: visible !important;
}

#menu-menu li {
    width: 150px !important;
}

#menu-menu li a {
    width: 100%;
}

p {
    text-indent: 2em
}

#header-topbar-right-content {
    float: left !important;
    margin-left: -15px !important;
}

.dt-fancy-title {
    padding-top: 20px;
    padding-bottom: 50px;
}

.wpb_accordion_header {
    padding-top: 5px;
    padding-bottom: 8px;
}

.table {
    padding-top: 20px;
    border-collapse: collapse;
    width: 500px;
}

.table,
td,
th {
    border: 1px solid black;
}

.sub-menu {
    width: 150px !important;
}

.sub-menu li,
.sub-menu li a {
    width: 150px;
    min-width: 150px !important;
}
/** 底部文章链隐藏
**/

.single-pagination {
    display: none;
}
