img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.wf-container  {
     margin: 20px;
}

table {
     margin: 0 auto;
}

strong {
     text-align: center;
     display: block;
}
p.article {
      text-indent: 28px;
      line-height: 25px;
      letter-spacing: 2px;
}
body{
  font-family:"微软雅黑" !important;

}
h1, h2, h3, h4, h5, h6{
  font-family:"微软雅黑" !important;
}
.header-style-4 .menu .alterna-nav-menu > li.current-menu-item > a, .header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor > a
{
  color:#f6c206 ;
}

#menu-menu  li a:hover{
   color:#3b3b3b !important;
}
.header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor>ul:hover .header-style-4 .menu .alterna-nav-menu > li.current-menu-ancestor>a{
  color:#3b3b3b !important;
//background:#000;
}

h1, .h1 {
    font-size: 26px;
}
h2, .h2 {
    font-size: 26px;
}
#main{
  width:1000px;
}
.content-wrap{
    background-color: #eeeeee;
    padding-left: 70px;
    padding-right: 70px;
}


/** daohanglan
*/
#alterna-header{
    background-color:#818181;
}
#alterna-header a{
    font-family:"微软雅黑";
    font-size:16px;
    font-weight:400;
    letter-spacing:0.5px;
}
.#menu-menu{
//  margin-left:-450px;

}

#menu-menu{
   // margin-right:100px;
    width:800px;
    overflow:visible !important;
}
#menu-menu  li{
   width:150px !important;
}
#menu-menu  li a{
    width :100%;
}

p{text-indent:2em}

#header-topbar-right-content{
  float:left !important;
  margin-left:-15px !important;
}
.dt-fancy-title{
padding-top:20px;
padding-bottom:50px;
}
.wpb_accordion_header{
padding-top:5px;
padding-bottom:8px;
}
.sub-menu{
  width:150px !important;
}
.sub-menu li, .sub-menu li a{
  width:150px ;
  min-width:150px !important;
}



/** 底部文章链隐藏
**/
.single-pagination{
    display:none;
}

.history-admit {
    font-size: 18px;
    text-align: center;
}
.history-admit table {
    width: 90%;
    margin: 0 auto;
}
.history-admit p {
    font-size: 18px;
    color: black;
    text-align: center;
}
.history-admit .table th {
    text-align: center;
}
.history-admit .table tr td:first-child {
    font-weight: bold;
    font-size: 17px;
}
.history-admit table thead th {
    color: white;
    background-color: #46a1da;
    font-size: 20px;
}
.wpb_wrapper{

    overflow: hidden;
    text-align: center;
    font-size: 20px;
}
.line {
   clear: both;
    width: 100%;
    margin: 25px 0 15px 0;
    border: 2px solid #46a1da;
}
.tab {
   float: left;
}
.tab.right {
   float: right;
   width: 82%;
}
.tab.right table:not(.show) {
   display: none;
}
.tab.left {
   margin-top: 40px;
   margin-left: 10px;
   width: 15%;
}
.wpb_wrapper .vertical-line {
   margin-top: 85px;
   margin-left: 16%;
   position: absolute;
   width: 2px;
   height: 260px;
   background-color: #46a1da;
}
.wpb_wrapper .left button {
   text-align: center;
   display: block;
   width: 130px;
   height: 50px;
   margin-bottom: 15px;
   color: white;
   font-size: 25px;
   border:none;
   background-color: #c6dbf1;
}
.wpb_wrapper .left button.active{
   background-color: #6fb4f2;
}
.wpb_wrapper {
   width: 100%;
   margin: 50px auto;
}
.wpb_wrapper table {
   overflow-y: auto;
   height: 600px;
   font-size: 18px;
   width: 100%;
}
.wpb_wrapper table tr {
   width: 100%;
   height: 40px;
}
.wpb_wrapper table tr td {
   width: 250px;
}
.wpb_wrapper table tr td:first-child {
   font-weight: bold;
   font-size: 16px;
}
.about-title + p {
    text-indent: 40px;
    font-size: 16px;
    margin-bottom: 60px;
}
.about-title {
    margin-top: 50px;
    margin-bottom: 40px;
}
.about-title h3 {
    width: 100%;
    text-align: center;
}
.about-title h3 span {
    padding: 0 20px;
}
.about-title h3::before {
    content: '';
    width: 120px;
    height: 2px;
    vertical-align: middle;
    display: inline-block;
    background-color: #46a1da;
}
.about-title h3::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 2px;
    background-color: #46a1da;
}
